
.map-container {
	margin: 20px;
	display: inline-block;
	width: 600px;
	height: 200px;
}

body{
	font-family: Arial;
	background-color: #f3f3f3;
	position: absolute;
	top: 0; left: 0; right: 0;
	text-align: center;
}

#container{
	background-color: white;
	display: inline-block;
	width: 1000px;
}

#new_shop{
	background-color: gray;
	display: inline-block;
	padding: 10px;
	border-radius: 3px;
}

#new_shop input{
	padding: 5px;
	font-size: 12px;
	border-radius: 3px;
	outline: none;
	margin: 5px;
}

#shop-table{
	display: inline-block;
	border: 1px solid black;
}

#shop-table thead{
	text-align: left;
	background-color: #f3f3f3;
}

#shop-table tr td{
	margin: 5px;
}