<template name="subscribe">
	<div id="subscribeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Confirmation</h4>
				</div>
				<div class="modal-body">

				<!-- Roles:

					1) Not registered

					2) Registered (keeps track of contributions, 5 contributions/mo gets you a free dataset)

					3) Registered and Purchased Datasets

					4) Admin -->

					<div class="status">

						{{#if currentUser}}

						<!-- If not paid for a dataset -->
						<!-- //TODO - find a way to figure out which dataset they are trying to purchase -->
						<!-- //TODO - if they contribute 5 times a month, one free dataset -->

							{{#if isInRole 'subscribed'}}
								You are all paid!
							{{else}} 
								{{currentUser.username}}, you need to purchase datasets.
							{{/if}}

						{{else}}

							You need to sign up and purchase datasets.
						
						{{/if}}
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					{{#if currentUser}}

						<!-- If not paid for a dataset -->
						<!-- //TODO - find a way to figure out which dataset they are trying to purchase -->
						<!-- //TODO - if they contribute 5 times a month, one free dataset -->

						{{#if isInRole 'subscribed'}}

						<!-- Nothing needs to be done here -->
							
						{{else}} 
							
						<button type="button" class="btn btn-primary purchase">Buy the Dataset</button>

						{{/if}}

					{{else}}

						{{> loginButtons}}
					
					{{/if}}

					
				</div>
			</div>
		</div>
	</div>
</template>