<template name="new_shop">
	<div class="form-container">
		<form id="new_shop">
			<input type="text" class="name" placeholder="Coffee Shop Name?" />
			<input type="text" class="cost" placeholder="Cost of a Medium Cappuccino?" />
			<button type="submit" class="btn btn-success">Add your WiFi Speed</button>
		</form>
	</div>
</template>

<template name="shopDocument">
	<tr>
		<td>{{name}}</td>
		<td>{{formatDate date "short"}}</td>
		<td>{{speed_up}} MBps</td>
		<td>{{speed_down}} MBps</td>
		<td>{{cost}} Baht</td>
	</tr>
</template>
