#speed-add{
	// display: none;
}

#newShopForm{
	// display: none;
	padding-top: 150px;
	margin-bottom: -100px;
	text-align: center;

	input{
		border-radius: 3px;
		padding: 7px;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		margin: 10px;
		width: 300px;
	}


}

#speed-down{
	.up{
		background-image: url('img/up.png');
	}

	.down{
		background-image: url('img/down.jpeg');
	}

	.up, .down{
		vertical-align: middle;
		display: inline-block;
		width: 12px;
		height: 12px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.form-container{
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	background-color: gray; 
}

.map-container{
	margin-top: 100px;
}